<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="div-center">

        <ion-img src="../../../assets/images/Piggy bank_Monochromatic.svg"></ion-img>
        <ion-card>
            <ion-card-content>
                <form class="form" #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

                    <ion-item-divider>
                        <ion-label>Usuario</ion-label>
                        <ion-input slot="end" style="text-align: right;" type="text" placeholder="Usuario" name="nombre" [(ngModel)]="user"  maxlength='10' required></ion-input>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-label>Password</ion-label>
                        <ion-input slot="end" style="text-align: right;" type="Password" placeholder="Password" name="password" [(ngModel)]="pass"  minlength="5" show-hide-input required></ion-input>
                    </ion-item-divider>
                    <ion-button class="card-margin" type="submit" expand="block" [disabled]="formulario.invalid">
                        continue
                    </ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>