<ion-header *ngIf="menu">
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-button slot="start" color="primary" (click)="regresar()">
                <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div *ngIf="transferencias!== undefined && currentUser.usuario !== undefined">
        <ion-list lines="none" *ngFor="let transferencia of transferencias">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>{{transferencia.fecha}}</ion-card-subtitle>
                    <ion-card-title>{{transferencia.id}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{transferencia.descripcion}}</p>
                    <p>Remitente: {{transferencia.remitente}} {{transferencia.cuentaRemi}} </p>
                    <p>Destinatario: {{transferencia.destinatario}} {{transferencia.cuentaDest}}</p>
                    <ion-item>
                        <ion-label>Cantidad: </ion-label>
                        <span slot="end">Q {{transferencia.cantidad}}</span>
                    </ion-item>

                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>

</ion-content>