<div class="center-div">

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Usuario</ion-label>
                    <ion-input slot="end" type="text" placeholder="Awesome Input"></ion-input>
                </ion-item-divider>

                <ion-item-divider>
                    <ion-label>Password</ion-label>
                    <ion-input slot="end" type="text" placeholder="Awesome Input"></ion-input>
                </ion-item-divider>
                <ion-item>
                    <ion-label>rol</ion-label>
                    <ion-input slot="end" type="text" placeholder="Awesome Input"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input slot="end" type="text" placeholder="Awesome Input"></ion-input>
                </ion-item>
            </ion-item-group>

        </ion-card-content>
    </ion-card>

</div>