<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-button slot="start" color="primary" (click)="regresar()">
                <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="div-center">
      <h1 class="center">Acreditar dinero a cuenta</h1>
      <img src="../../../assets/images/acreditar.svg" width="300px" />
        <form (ngSubmit)="onSubmit()">
            <ion-item-group>
                <app-alert *ngIf="alert" [message]="message" [error]="error"></app-alert>

                <ion-item>
                    <ion-label>Cuenta a creditar</ion-label>
                    <ion-input  [value]="cuenta.numeroCuenta" name="cuenta" [disabled]="true" pattern="^[a-zA-Z0-9\-\.]+$" type="text" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Usuario</ion-label>
                    <ion-input class="ion-text-right" [value]="cuenta.usuario" [disabled]="true" type="text">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Cantidad</ion-label>
                    <ion-input (ionChange)="setCantidad($event)" type="number" required></ion-input>
                </ion-item>
            </ion-item-group>

            <ion-button class="ion-margin" expand="block" color="primary" type="submit">
                Acreditar
            </ion-button>
        </form>
      
    </div>
</ion-content>
