<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title fixed>
            Administrar Usuarios
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="mostrarModalCreate()">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Crear Usuario
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
    <ion-list>

        <ion-item *ngFor="let user of users">
            <ion-button fill="clear" slot="end" (click)="mostrarModalUsuario(user)">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>

            <ion-avatar slot="start">
                <img src="../../../assets/images/profile-photo/empty.png">
            </ion-avatar>
            <ion-label>
                <h2>{{user.usuario}}</h2>
                <h3>{{user.rol}}</h3>
                <p>Telefono: {{user.telefono}}</p>
            </ion-label>

        </ion-item>

    </ion-list>
</ion-content>